//---------------------------------------------------------------------------
//- # Common Mixins
//- 	Important mixins used on all pages
//---------------------------------------------------------------------------

//-setting page description
mixin set_page_description(description)
	meta(name="description" content="#{description}")

//-setting page keywords
mixin set_page_keywords(keywords)
	meta(name="keywords" content="#{keywords}")

//-loading css
mixin load_css(array_css)
	- each css in array_css
		link(href="#{url_css}#{css}.css" rel="stylesheet")

//-loading scripts
mixin load_js(array_scripts)
	- each script in array_scripts
		script(src="#{url_js}#{script}.js")
				


