//---------------------------------------------------------------------------
//- # Slider Block/Mixins
//- 	Plugin used : bxslider
//- 	files js/css must be included in the used layout 
//- 	3 types are available
//- 		- simple width img 			: +slider('ID_slider',["imgname.format","imgname.format"])
//- 		- title h2 width img 		: +slider('ID_slider',[["imgname.format","title"],["imgname.format","title"])
//- 		- complex h2+p width img 	: +slider('ID_slider',[["imgname.format","title","paragraph"],["imgname.format","title","paragraph"])
//---------------------------------------------------------------------------

mixin slider(ID,contents, type)
	//- Mixin for init html
	ul(id="#{ID}")
		- each content in contents
			if type == "img"
				li: img(src="#{url_imgs}#{content}")
			else if type == "title"
				li
					img(src="#{url_imgs}#{content[0]}")
					h2 #{content[1]}
			else if type == "img-title"
				li
					img(src="#{url_imgs}#{content[0]}")
					div
						h2 #{content[1]}
						p  #{content[2]}
			else if type == "text-only"
				li
					img(src="#{url_imgs}#{content[0]}")
					div
						h2 #{content[1]}
						p  #{content[2]}

	script.
		$(document).ready(function(){
			$("##{ID}").bxSlider({
				adaptiveHeight: true,
			});
		})

//- including plugins JS+CSS
- plugins_js.push("ext/jquery.bxslider.min");
- plugins_css.push("ext/bxslider/jquery.bxslider");