//---------------------------------------------------------------------------
//- # TopBar Block/Mixins
//---------------------------------------------------------------------------

mixin _com_topBar(title,logo,links)
	.topBar
		.logo.md-12.lg-4.cols
			- if (title != "")
				h1 #{title}
			- if (logo != "")
				h1: img(src="#{url_imgs}#{logo}")
		nav.md-12.lg-8.cols.md-collapse
			ul.inline
				- each link in links
					li: a(href="#{link[1]}") #{link[0]}
		span.toggle

- plugins_js.push("topbar");